<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>제목</th><td th:text="${content.getSubject()}"></td>
    <th>글쓴이</th><td th:text="${content.getMember().getName()}"></td>
    <th>내용</th><td th:text="${content.getText()}"></td>
    <th>좋아요</th><td th:text="${good}"></td>
  </tr>
  </thead>
  <tbody>

  </tbody>
  <a href="/home">뒤로가기</a>
</table>
<a href="/read/good/" th:attrappend="href=${content_id}">좋아요</a><a href="/modify/" th:attrappend="href=${content_id}">글 수정</a>
<form action="/delete/" method="post" th:attrappend="action=${content_id}" th:if="${content.getMember().getName()} == ${member.getName()}">
  <button type="submit">삭제</button>
</form>
<form action="/comment/" method="post" th:attrappend="action=${content_id}">
  <label>Comments
    <textarea style="resize: none" name="text"></textarea>
  </label><br>
  <button type="submit">확인</button>
</form><br>
<table>
  <tbody>
    <tr th:each="comment : ${comments}">
      <td th:text="${comment.getText()}"></td>
      <td th:text="${comment.getMember().getName()}"></td>
      <td th:if="${comment.getMember().getName()} == ${member.getName()}"><form action="/comment/delete/" method="post" th:attrappend="action=${comment.getId()}"><button type="submit">삭제</button></form></td>
    </tr>
  </tbody>
</table>
</body>
</html>